@model CategoryListViewModel

    <div class="list-group">
        @foreach (var category in Model.Categories)
        {
            <a
              asp-controller="Shop" 
               asp-action="List"
               asp-route-category="@category.Name.ToLower()"
               class="list-group-item list-group-item-action @(Model.SelectedCategory==category.Name.ToLower()?"active":"")">
        @category.Name
            </a>

        }
        
    </div>
